{% extends 'base.html.twig' %}

{% block title %}Tartak - dostępne produkty{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">
<input type="text" class="form-control" placeholder="Wyszukaj materiał.." id="search_input">

    <div id="search_results">
        {% include '/product/product_list.html.twig' %}
    </div>
</div>

    <div class="modal fade" id="addToCartModal" tabindex="-1" role="dialog" aria-labelledby="addToCartModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="addToCartModalLabel">Dodawanie produktu do koszyka</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <form action="/cart/add" method="post">
                <div class="modal-body">
                        <h2 id="product_name"></h2><hr>
                        <input type="hidden" id="material" name="material">
                        <div class="form-group">
                            <label for="length_input">Długość</label>
                            <input type="number" id="length_input"  step="0.01" name="length" class="form-control">
                        </div>
                        <div class="form-group">
                            <label for="width_input">Szerokość</label>
                            <input type="number" id="width_input"  step="0.01" name="width" class="form-control">
                        </div>
                        <div class="form-group">
                            <label for="height_input">Grubość</label>
                            <input type="number" id="height_input" step="0.01" name="height" class="form-control">
                        </div>
                        <div class="form-group">
                            <label for="quantity_input">Ilość sztuk</label>
                            <input type="number" id="quantity_input" step="1" min="1" name="quantity" class="form-control">
                        </div><hr>
                        <span class="text-center">
                            <p>W tym zestawieniu cena wynosi:</p>
                            <p id="product_price">0 zł</p>
                        </span>
                        <hr>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-primary float-left">Dodaj do koszyka</button>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Zamknij</button>
                </div>
                </form>
            </div>
        </div>
    </div>

{% endblock %}

{% block javascripts %}
    {{ encore_entry_script_tags('app') }}
    <script src="/js/main2.js"></script>
{% endblock %}
